/* font-family: "Permanent Marker", cursive;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif; */
:root {
  --hero-background: #1c1c1c;
  --btn-colour: #58b792;
  --btn-hover-colour: #409575;
  --nav-colour: #222222;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  background: var(--hero-background);
  color: white;
  font-family: var(--default-font-family);
}
nav {
  background: var(--nav-colour);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 56px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.7;
}

.hero {
  margin: 0;
  background: var(--hero-background);
  padding: 120px 0;
}
.hero p {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  opacity: 0.8;
}
.hero-info {
  margin: auto auto;
  text-align: center;
}
.btn-branding {
  color: white;
  font-size: 18px;
  line-height: 27px;
  background: var(--btn-colour);
  border-radius: 4px;
  padding: 15px 30px;
}
.btn-branding-outline {
  color: var(--btn-colour);
  font-size: 18px;
  line-height: 27px;
  border-color: var(--btn-colour);
  border-radius: 4px;
  padding: 15px 30px;
}
.btn:hover {
  background: var(--btn-hover-colour);
  color: white;
}
.image-app {
  border-radius: 5px;
}
.project-description {
  padding: 120px 60px;
}
/* #first-letter {
  font-size: 32px;
  color: var(--green-background);
  font-weight: bold;
} */
#name {
  display: none;
}
@media (max-width: 1200px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 44px;
    line-height: 2;
  }
  .hero {
    padding: 80px 0;
  }
}
