/* font-family: "Permanent Marker", cursive;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif; */
h1,
h2 {
  font-family: "Playfair Display", serif;
  text-align: center;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
#name {
  display: none;
}
