/* font-family: "Permanent Marker", cursive;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif; */
:root {
  --hero-background: #1c1c1c;
  --btn-colour: #58b792;
  --btn-hover-colour: #409575;
  --nav-colour: #222222ae;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  background: var(--hero-background);
  color: white;
  font-family: var(--default-font-family);
}
nav {
  background: var(--nav-colour);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 56px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.7;
}

.hero {
  margin: 0;
  background: var(--hero-background);
  padding: 120px 0;
}
.hero p {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  opacity: 0.8;
}
.content-container {
  padding-top: 120px;
}
.content {
  margin: 30px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content-container p {
  font-size: 18px;
  font-family: var(--default-font-family);
  opacity: 0.9;
  text-align: justify;
}
.content p {
  font-size: 14px;
}
.image-center {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column-reverse;
}
.hero-info {
  margin: auto auto;
  text-align: center;
}
.projects-title,
.contact-title {
  display: flex;
  justify-content: center;
}
.projects-header {
  text-align: center;
  font-size: 32px;
  border-bottom: 5px solid var(--btn-colour);
}
.contact-header {
  padding-left: 7px;
  border-left: 5px solid var(--btn-colour);
  border-bottom: 5px solid var(--btn-colour);
}
.btn-branding {
  color: white;
  font-size: 18px;
  line-height: 27px;
  background: var(--btn-colour);
  border-radius: 4px;
  padding: 15px 30px;
}
.btn-branding-outline {
  color: var(--btn-colour);
  font-size: 18px;
  line-height: 27px;
  border-color: var(--btn-colour);
  border-radius: 4px;
  padding: 15px 30px;
}
.lunch-project {
  display: block;
  width: 150px;
  margin: 0 auto;
}
.btn:hover {
  background: var(--btn-hover-colour);
  color: white;
}
.image-app {
  border-radius: 5px;
}
.project-description {
  padding: 120px 60px;
}
.contact-section {
  margin-top: 120px;
}
.contact-item {
  margin-bottom: 45px;
  margin-left: 150px;
}
.contact-header-container {
  display: flex;
}
.contact-header-decoration {
  border-bottom: 5px solid var(--btn-colour);
}

#name {
  display: none;
}
.div-color {
  color: #ff6d9d;
}
.class-color {
  color: #50da4d;
}
.class-descript-color {
  color: #f1da57;
}
.game-link {
  color: var(--btn-colour);
  text-decoration: none;
}
.game-link:hover {
  text-decoration: underline;
}
.contact-me-header {
  margin: 100px 0 0 0;
}
.bg-special {
  background: var(--nav-colour);
}
.color-it-green {
  color: var(--btn-colour);
}
footer {
  margin: 60px 0;
}
footer .email-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  transition: all 100ms ease-in-out;
}
footer .social-links a {
  margin: 0 20px;
  background-color: #222222;
  color: var(--btn-colour);
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: #222222;
  background-color: var(--btn-hover-colour);
}

footer .email-link:hover {
  color: white;
}

@media (max-width: 1200px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content-container h1 {
    font-size: 44px;
  }
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 44px;
    line-height: 2;
  }
  .hero {
    padding: 80px 0;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .content-container h1 {
    font-size: 44px;
  }

  .content-container img {
    width: 80%;
    margin: 0 auto 20px;
    /* margin-top: 50px; */
  }
}
